:root {
  --start-hue-thumb: hsl(0, 100%, 50%);
  --end-hue-thumb: hsl(0, 100%, 50%);
  --start-saturation-thumb: hsl(0, 100%, 50%);
  --end-saturation-thumb: hsl(0, 100%, 50%);
  --start-lightness-thumb: hsl(0, 100%, 50%);
  --end-lightness-thumb: hsl(0, 100%, 50%);
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 800;
}

.desc {
  max-width: 60ch;
}

.label-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.control.color-picker-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  width: 280px;
  border-left: #cacaca 1px solid;
  min-height: 100%;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.control-section-header {
  font-weight: 700;
  padding-top: 20px;
  border-top: #cacaca 1px solid;
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border-radius: 0px;
  border: none;
}

.color-picker::-moz-color-swatch {
  border-radius: 0px;
  border: none;
}

.color-tile {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  height: 148px;
  align-items: center;
  justify-content: end;
  background-color: #2f8d8d;
  border-radius: 10px;
}

.palette {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.palette-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
  gap: 4px;
}

.color-hex {
  opacity: 0.5;
  font-size: 12px;
}

output {
  font-variant: tabular-nums;
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 16px;
  background: linear-gradient(to bottom, #777777 0%, #cacaca 100%);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

#start-hue-slider,
#end-hue-slider {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
}

#start-hue-slider::-webkit-slider-thumb,
#end-hue-slider::-webkit-slider-thumb {
  appearance: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, 0.8);
}

#start-hue-slider::-webkit-slider-thumb {
  background-color: var(--start-hue-thumb);
}

#end-hue-slider::-webkit-slider-thumb {
  background-color: var(--end-hue-thumb);
}

#start-hue-slider::-moz-range-thumb {
  background-color: var(--start-hue-thumb);
}

#end-hue-slider::-moz-range-thumb {
  background-color: var(--end-hue-thumb);
}

#start-saturation-slider::-webkit-slider-thumb {
  background-color: var(--start-saturation-thumb);
}

#end-saturation-slider::-webkit-slider-thumb {
  background-color: var(--end-saturation-thumb);
}

#start-saturation-slider::-moz-range-thumb {
  background-color: var(--start-saturation-thumb);
}

#end-saturation-slider::-moz-range-thumb {
  background-color: var(--end-saturation-thumb);
}

#start-lightness-slider::-webkit-slider-thumb {
  background: var(--start-lightness-thumb);
}

#end-lightness-slider::-webkit-slider-thumb {
  background: var(--end-lightness-thumb);
}

#start-lightness-slider::-moz-range-thumb {
  background: var(--start-lightness-thumb);
}

#end-lightness-slider::-moz-range-thumb {
  background: var(--end-lightness-thumb);
}
