* {
  box-sizing: border-box;
}

:root {
  --start-hue-thumb: hsl(0, 100%, 50%);
  --end-hue-thumb: hsl(0, 100%, 50%);
  --start-saturation-thumb: hsl(0, 100%, 50%);
  --end-saturation-thumb: hsl(0, 100%, 50%);
  --start-lightness-thumb: hsl(0, 100%, 50%);
  --end-lightness-thumb: hsl(0, 100%, 50%);
  --background: #ffffff;
  --foreground: #000000;
  --border: #cacaca;
  --slider-border: rgba(0, 0, 0, 0.5);
  --slider-bg: linear-gradient(to bottom, #777777 0%, #cacaca 100%);
  --button-bg: rgba(0, 0, 0, 0.1);
  --button-bg-hover: rgba(0, 0, 0, 0.2);
  --button-bg-active: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --border: #424242;
    --slider-border: rgba(255, 255, 255, 0.5);
    --slider-bg: linear-gradient(to bottom, #333333 0%, #727272 100%);
    --button-bg: rgba(255, 255, 255, 0.1);
    --button-bg-hover: rgba(255, 255, 255, 0.2);
    --button-bg-active: rgba(255, 255, 255, 0.3);
  }
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: clamp(30px, 6vw, 48px);
  line-height: 1;
  font-weight: 800;
}

.desc {
  max-width: 60ch;
}

.label-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.control.color-picker-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  width: 280px;
  border-left: var(--border) 1px solid;
  position: fixed;
  top: 0;
  right: -280px;
  transition: right 0.2s ease-in-out;
  background-color: var(--background);
  z-index: 3;
  flex-shrink: 0;
  height: 100%;
}

@media (min-width: 768px) {
  .controls {
    position: static;
    right: 0;
    align-self: stretch;
    height: auto;
  }
}

.sticky-bar {
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 16px;
  border-top: var(--border) 1px solid;
  background-color: var(--background);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  .sticky-bar {
    display: flex;
  }
}

.sidebar-toggle {
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--button-bg);
  border: none;
  color: var(--foreground);
  font-size: 1rem;
  transition: background-color 0.2s ease-out;
  width: 100%;
}

.sidebar-toggle:hover {
  background-color: var(--button-bg-hover);
}

.sidebar-toggle:active {
  background-color: var(--button-bg-active);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.control-section-header {
  font-weight: 700;
  padding-top: 20px;
  border-top: #cacaca 1px solid;
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border-radius: 0px;
  border: none;
}

.color-picker::-moz-color-swatch {
  border-radius: 0px;
  border: none;
}

.color-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 0 16px;
  height: 100%;
  background-color: #2f8d8d;
  border-radius: 10px;
}

.palette {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
  height: 100%;
}

.palette-grid {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: stretch;
  height: 100%;
}

@media (max-width: 767px) {
  .palette-grid {
    padding-bottom: 80px;
  }
}

.color-hex {
  opacity: 0.5;
  font-size: 12px;
  text-transform: uppercase;
}

output {
  font-variant: tabular-nums;
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 16px;
  background: var(--slider-bg);
  box-shadow: inset 0 0 2px var(--slider-border);
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

#start-hue-slider,
#end-hue-slider {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
}

#start-hue-slider::-webkit-slider-thumb,
#end-hue-slider::-webkit-slider-thumb {
  appearance: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 2px 2px rgba(0, 0, 0, 0.8);
}

#start-hue-slider::-webkit-slider-thumb {
  background-color: var(--start-hue-thumb);
}

#end-hue-slider::-webkit-slider-thumb {
  background-color: var(--end-hue-thumb);
}

#start-hue-slider::-moz-range-thumb {
  background-color: var(--start-hue-thumb);
}

#end-hue-slider::-moz-range-thumb {
  background-color: var(--end-hue-thumb);
}

#start-saturation-slider::-webkit-slider-thumb {
  background-color: var(--start-saturation-thumb);
}

#end-saturation-slider::-webkit-slider-thumb {
  background-color: var(--end-saturation-thumb);
}

#start-saturation-slider::-moz-range-thumb {
  background-color: var(--start-saturation-thumb);
}

#end-saturation-slider::-moz-range-thumb {
  background-color: var(--end-saturation-thumb);
}

#start-lightness-slider::-webkit-slider-thumb {
  background: var(--start-lightness-thumb);
}

#end-lightness-slider::-webkit-slider-thumb {
  background: var(--end-lightness-thumb);
}

#start-lightness-slider::-moz-range-thumb {
  background: var(--start-lightness-thumb);
}

#end-lightness-slider::-moz-range-thumb {
  background: var(--end-lightness-thumb);
}
